<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
        <img src="https://camo.githubusercontent.com/e26996f58aa24c428478b6db535b371d1fffe1f9/68747470733a2f2f696d6167652e666c617469636f6e2e636f6d2f69636f6e732f7376672f3431312f3431313831352e737667" width="224" height="56">
        </a>
        <div class="navbar-burger burger" data-target="navbar-profile">
            <span></span>
            <span></span>
            <span></span>
          </div>
    </div>
    <div class="navbar-menu" id="navbar-profile">
      <div class="navbar-end" >
        <app-login></app-login>
      </div>
    </div>
</nav>
