<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu" routerLinkActive="active">
      <div class="navbar-start">
        <a routerLink="home" class="navbar-item">
          Home
        </a>
  
        <a routerLink="user" *ngIf="authority === 'user'" class="navbar-item">
          User Board
        </a>
        <a routerLink="pm" *ngIf="authority === 'pm'" class="navbar-item">
            PM Board
        </a>
        <a routerLink="admin" *ngIf="authority === 'admin'" class="navbar-item">
            Admin view
        </a>
  
        
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div *ngIf="!authority" class="buttons">
            <a routerLink="signup" class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a routerLink="login" class="button is-light">
              Log in
            </a>
          </div>
          <div *ngIf="authority">
              <span  >UserName</span>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  More
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    About
                  </a>
                  <a class="navbar-item">
                    Jobs
                  </a>
                  <a class="navbar-item">
                    Contact
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Report an issue
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
<section class="section">
  <div class="container  ">
    <router-outlet></router-outlet>
  </div>
</section>