<div *ngIf="isLoggedIn; else loggedOut">
  <a  class="navbar-link"><span>👤 {{ username}} {{roles}}</span></a>
  <div class="navbar-dropdown">
      <a class="navbar-item">About</a>
      <a class="navbar-item">Jobs</a>
      <a class="navbar-item">Contact</a>
      <hr class="navbar-divider">
      <a class="navbar-item">Report an issue</a>
  </div>

</div>

<ng-template #loggedOut>

    <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button">
                <span>
                  Login
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="#">
                <span>Register</span>
              </a>
            </p>
          </div>
        </div>
      </div>

<!--
    <div class=" navbar-item has-dropdown is-hoverable">
      <button class="button is-primary" aria-haspopup="true" aria-controls="modal-login">
        <span>Log in</span>
      </button>
    </div>
    <div class=" navbar-item has-dropdown is-hoverable">
      <button class="button is-secondary" aria-haspopup="true" aria-controls="modal-register">
        <span>Register</span>
      </button>
    </div> -->
</ng-template>
