<div *ngIf="isLoggedIn; else loggedOut">
    <a  class="navbar-link">
        <span>👤 {{ username}} {{roles}}</span>
      </a>

      <div class="navbar-dropdown">
          <a class="navbar-item">
          About
          </a>
          <a class="navbar-item">
          Jobs
          </a>
          <a class="navbar-item">
          Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
          Report an issue
          </a>
      </div>
</div>

<ng-template #loggedOut>
    <div class="dropdown is-active">
        <div class="dropdown-trigger navbar-item">
          <button (click)="toggleDropDown()" class="button is-primary" aria-haspopup="true" aria-controls="dropdown-login">
            <span>Log in</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div  class="dropdown-menu" id="dropdown-login" role="menu" *ngIf="isToggled">
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="dropdown-content">
                <div class="form-group dropdown-item">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
                      required />
                    <div *ngIf="f.submitted && username.invalid">
                      <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="form-group dropdown-item">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                      required minlength="6" />
                    <div *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
                  <div class="form-group dropdown-item">
                    <button class="btn btn-primary">Login</button>
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                      Login failed: {{errorMessage}}
                    </div>
                  </div>
                </div>
          </form>
        </div>
      </div>
</ng-template>
