<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Choose</p>
        <button class="delete" aria-label="close" (click)="cancel()"></button>
      </header>
      <section class="modal-card-body">

        <!-- <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="dropdown-content">
                <div class="form-group dropdown-item">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
                      required />
                    <div *ngIf="f.submitted && username.invalid">
                      <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="form-group dropdown-item">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
                      required minlength="6" />
                    <div *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
                  <div class="form-group dropdown-item">
                    <button class="btn btn-primary">Login</button>
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                      Login failed: {{errorMessage}}
                    </div>
                  </div>
                </div>
          </form> -->

        <div class="select">
          <select name="username" [(ngModel)]="username">
            <option value="Whats your name">Whats your name ?</option>
            <option value="Louis">Louis</option>
            <option value="Robert">Robert</option>
          </select>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button (click)="selectedItem()" class="button is-success">Save changes</button>
        <button (click)="cancel()" class="button">Cancel</button>
      </footer>
    </div>
  </div>
