h1 {
  font-family: 'Shadows Into Light', cursive !important;
  border-bottom: thick solid #ef60a3;
  text-align: center;
  padding-bottom: 1rem !important;
}

#sub-titles { padding-left: 2rem;}

mat-card {
  margin: 0 auto;
  padding: 0 !important;
  min-width: 250px;
  max-width: 724px;
}
