<div *ngIf="info.token; else loggedOut">
  <section class="container is-fluid">
    <h5 class="text-primary">Your Information</h5>
    <p>
      <strong>Username:</strong> {{info.username}}<br/>
      <strong>Roles:</strong> {{info.authorities}}<br />
      <strong>Token:</strong> {{info.token}}.
    </p>
    <button (click)="logout()">Log Out</button>
  </section>
</div>

<ng-template #loggedOut>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-12 has-background-light">
      <div class="tile is-parent">
        <article class="tile is-child">
          <h1 class="title is-1">eTin: Simple swear tin</h1>
          <h2 class="subtitle is-italic">Turn those nasty habits on opportunities to support actions you like!</h2>
          <div class="content">
            <div class="columns is-vcentered">
              <div class="column is-two-fifths is-offset-two">
                <p class="presentation">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestiae atque modi incidunt, cumque ex aperiam laborum rerum praesentium vero! Nesciunt qui obcaecati adipisci beatae voluptate? Repellat neque corporis saepe? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda molestiae atque modi incidunt, cumque ex aperiam laborum rerum praesentium vero! Nesciunt qui obcaecati adipisci beatae voluptate? Repellat neque corporis saepe? </p>
              </div>
              <div class="column forms">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</ng-template>
