mat-toolbar { background: none !important;}
#logo {max-height: 3rem;}
#userIcon { display: inline-block; width: 2.75rem; height: 2.75rem; border: 1px solid currentColor; border-radius: 50%;}
#userMenu { padding: 1.25rem;}