<div class="navbar-item has-dropdown is-hoverable" *ngIf="isLoggedIn; else loggedOut">
    <a  class="navbar-link"> <span>👤 {{ username }}</span></a>
    <div class="navbar-dropdown is-right">
        <a class="navbar-item">About</a>
        <a class="navbar-item">Jobs</a>
        <a class="navbar-item">Contact</a>
        <hr class="navbar-divider">
        <a class="navbar-item">Report an issue</a>
        <a (click)="logout()" class="navbar-item">Log Out</a>
    </div>
</div>


<ng-template #loggedOut>
        <div class="navbar-item">
          <div class="field is-grouped">
           <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control has-icons-left"
                    [ngClass]="{'has-icons-right': true}">
                    <input class="input is-rounded"
                      type="text"
                      placeholder="Username"
                      name="username"
                      [(ngModel)]="form.username"
                      #username="ngModel"
                      [ngClass]="{'is-danger': f.submitted && username.invalid}"
                      required>
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left"
                    [ngClass]="{'has-icons-right': true}">
                    <input class="input is-rounded"
                      type="password"
                      name="password"
                      placeholder="Password"
                      [(ngModel)]="form.password"
                      [ngClass]="{'is-danger': f.submitted && password.invalid}"
                      #password="ngModel"
                      required
                      minlength="6" >
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>

                    <!-- <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span> -->
                  </p>
                  <!-- <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                  </div> -->
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-rounded is-primary">
                      Login
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
</ng-template>
